{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}

    

{{ form_start(form) }}

    {{ form_row(form.starting_date) }}
    {{ form_row(form.ending_date) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}

{% endblock %}
