{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
<<<<<<< HEAD
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
  </a>
  <a href="#" class="list-group-item list-group-item-action">Ajouter un Objet</a>
  <a href="#" class="list-group-item list-group-item-action">Mes Objets</a>
  <a href="#" class="list-group-item list-group-item-action">Mes reservations</a>
  <a href="#" class="list-group-item list-group-item-action">Mes Infos</a>
</div>

=======
	<div class="container">

		<div class="row">

			<div class="list-group">
				<a href="{{path('app_add_item')}}" class="list-group-item list-group-item-action">Ajouter un objet</a>
				<a href="" class="list-group-item list-group-item-action">Mes objets</a>
				<a href="" class="list-group-item list-group-item-action">Mes réservations</a>
				<a href="" class="list-group-item list-group-item-action">Mes infos</a>
			</div>

		</div>

	</div>
>>>>>>> 0caf76c08840237ec0239e8a706ec418722a2d77
{% endblock %}
